/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://fonts.gstatic.com/s/josefinsans/v8/xgzbb53t8j-Mo-vYa23n5iYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://fonts.gstatic.com/s/josefinsans/v8/xgzbb53t8j-Mo-vYa23n5hampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


main_color = #ddd
cyan = #09b

*
	font-family: 'Josefin Sans', Menlo, sans-serif
	color: main_color

a
	display:inline-block
	border-radius: 0px
	border: 1px solid black
	padding: 6px 8px 2px 8px
	color: main_color
	text-decoration: none
	transition: background 0.25s

	&:hover
		background: rgba(255,255,255,0.3)

body
	font-size: 20px
	background: #eee
	background-image: url('/images/carbon.png')

#page
	width: 60%
	padding: 40px
	margin: auto
	margin-top:100px
	margin-bottom: 30px
	background: rgba(255,255,255, 0.1)
	box-shadow: 0px 0px 24px black
  min-height: 400px

h1
	color:main_color
	font-size:50px
	// text-shadow:none

	a
		border: none
		border-bottom: 1px solid cyan
		border-radius: 0px

	span
		border-bottom: 1px solid cyan


// Forms

input
	font-size: 20px
	margin: 5px 0px
	border:1px solid cyan
	border-radius: 4px
	background: rgba(0,0,0,0)
	color:main_color
	padding: 4px 8px
  padding-top: 6px
  line-height: 26px
  vertical-align:top
	outline: none

	&:focus
		box-shadow: 0px 0px 10px 3p black

input[type=submit], button
	margin-top:10px
	border-radius: 8px
	text-align: center
	padding: 6px 8px 2px 8px
	border:1px solid black
	outline: none

// Messages

distance = 10px

.message_sender::before
	content: ''
  display: block
  height: 10px
  width: 10px
  position:relative
  float:left
  border: 1px solid cyan
  top:2px
  left: -1 * distance
  z-index:566

.message_receiver::before
  content: ''
  height: 10px
  width: 10px
  float:left
  display:block
  position:relative
  border: 1px solid main_color
  border-radius: 20px
  top:2px
  left: -1 * distance
  z-index:566

.message
  margin-left: distance


#user_search
  background: url('/images/icons/search2.png') no-repeat
  background-position: 7 10
  background-size: 10px 15px

// Flash

.flash
	border: 1px solid black
	border-radius: 1000
	-webkit-border-radius: 1000
	color:main_color
	padding:10px
	margin:10px

.flash_success
	border-color: rgba(0,255,0, 0.8)

.flash_error
	border-color: rgba(255, 0,0, 0.8)


// Themes


.theme

  span
    background: rgba(0,0,0,0.5)
    color: main_color
    text-shadow: 2px 2px black

	.theme_image
		overflow:hidden
		opacity: 1
		box-shadow: 4px 6px 10px #111
