@import url(http://fonts.googleapis.com/css?family=Raleway:100);

*
	font-family: helvetica, sans-serif
	font-weight: 100
light_blue = #dfe3ee
dark_blue = #3b5998
a
	display:inline-block
	color: white
	background: dark_blue
	border-radius: 4px
	box-shadow: 0px 0px 10px -4px black
	padding: 4px 8px
	text-decoration: none
	transition: background .3s, color .3s

	&:hover
		background: rgba(255,255,255,0.7)
		color: dark_blue

body
	font-size: 20px
	background: light_blue
	min-height: 100vh

#page
	width: 60%
	margin: auto
	padding-top: 50px

h1
	color:black
	font-size:50px
	// text-shadow:none

	span
		position: fixed
		top: 4px
		left: 10px
		z-index: 44
		color:white
		font-size: 35px
		opacity: 1
		transition: opacity 0.3s, color 0.3s

		&:hover
			color:black
			opacity:0.5

	a
		border: none
		color: dark_blue
		border-bottom: 3px solid dark_blue
		border-radius: 0px
		background: none
		box-shadow:none


// Nav

#nav
	position:fixed
	background: dark_blue
	left: 0px
	top:0px
	box-sizing:border-box
	width: 100%
	padding: 8px
	text-align: right
	box-shadow: -20px -2px 20px black

	a
		position:relative
		top:2px
		box-shadow:none

		&:hover
			color: white
			background: rgba(0,0,0,0.3)



// Forms

input
	font-size: 20px
	margin: 5px 0px
	border:1px solid #333
	border-radius: 4px
	background: rgba(0,0,0,0)
	color:black
	padding: 4px 8px

	&:focus
		box-shadow: 0px 0px 10px -3px blue

input[type=submit], button
	margin-top:10px
	border-radius: 8px
	text-align: center
	padding: 4px 8px
	border:1px solid #333
	outline: none

// Messages

.message_sender::before
	content: '-- '
.message_receiver::before
	content: '>> '


#user_search
	position: fixed
	width: 30%
	background: light_blue url('/images/icons/search.png') no-repeat
	background-position: 7 10
	background-size: 10px 15px
	top:3px
	left:150px

// Flash

.flash
	border: 1px solid black
	border-radius: 1000
	-webkit-border-radius: 1000
	color:black
	padding:10px
	margin:10px

.flash_success
	border-color: rgba(0,255,0, 0.8)

.flash_error
	border-color: rgba(255, 0,0, 0.8)


// Themes

line_height = 140px

.theme

	span
		border-radius: 20px

	.theme_image
		border-radius: 20px
		overflow:hidden
		box-shadow: 4px 6px 10px #888
