

*
	padding: 0
	margin: 0

body
	padding-bottom: 2vh
	overflow: visible
	box-sizing: border-box

p, a, h1
	padding: 10px 0px

#page
	width: 60%
	margin: auto
	padding-top:100px

// Miscellaneous

#user_search
	padding-left: 22px
	background: url('/images/icons/search.png') no-repeat
	background-position: 7 10
	background-size: 10px 15px

#user_index p
	display: inline-block
	padding: 0px
	padding-right: 8px
	padding-top: 12px

#message_index
	max-height: 42vh
	padding-top: 2vh
	padding-bottom: 2vh
	overflow:scroll

.theme

	.theme_image
		border: 1px solid black

	h2
		font-weight: light

		&:after
			content: ':'
